<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399947108670-lj10ocm0vp9nch3ks7dqkr14td9hcgru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399947108670-lj10ocm0vp9nch3ks7dqkr14td9hcgru</string>
	<key>API_KEY</key>
	<string>AIzaSyAxX1r55jxD1mYBXT_Mi9MTeY-n3WQozkg</string>
	<key>GCM_SENDER_ID</key>
	<string>399947108670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tungleua</string>
	<key>PROJECT_ID</key>
	<string>tungluea</string>
	<key>STORAGE_BUCKET</key>
	<string>tungluea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399947108670:ios:12eb9f600424499e361c6f</string>
</dict>
</plist>