<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212265099058-m5m75lr22i6c6h2eirk7o35d91m03kpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212265099058-m5m75lr22i6c6h2eirk7o35d91m03kpr</string>
	<key>API_KEY</key>
	<string>AIzaSyBFLIPFGCS4lnFHvcNF2qW4QaDLAMLyE-8</string>
	<key>GCM_SENDER_ID</key>
	<string>212265099058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tungleua.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tungleua</string>
	<key>STORAGE_BUCKET</key>
	<string>tungleua.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212265099058:ios:96cd749b9c931eced3012b</string>
</dict>
</plist>